<a href="https://colab.research.google.com/github/saishshinde15/PySpark_Codes/blob/main/Creation_Of_BasicDataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [8]:
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.appName("DataFrameCreation").getOrCreate()

In [2]:
from pyspark.sql.types import StructType,StructField, StringType, IntegerType

In [3]:
data2 = [("Jack","","Eldridge","36636","M",90000),
    ("Matthew","J", "Munro","28832","M",45400),
    ("Sheila","Oway", "Roberts","12114","F",64000),
    ("Anne","", "Dushane","32192","F",141000),
    ("Jane","Rebecca","Jones","99482","F",56000)
  ]

## Method 1

In [13]:
schema = StructType([
    StructField("firstname",StringType(),True),
    StructField("middlename",StringType(),True),
    StructField("lastname",StringType(),True),
    StructField("id", StringType(), True),
    StructField("gender", StringType(), True),
    StructField("salary", IntegerType(), True)
  ])

In [14]:
df = spark.createDataFrame(data=data2,schema=schema)
df.printSchema()
df.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|Jack     |          |Eldridge|36636|M     |90000 |
|Matthew  |J         |Munro   |28832|M     |45400 |
|Sheila   |Oway      |Roberts |12114|F     |64000 |
|Anne     |          |Dushane |32192|F     |141000|
|Jane     |Rebecca   |Jones   |99482|F     |56000 |
+---------+----------+--------+-----+------+------+

## Method 2(using Data Definition Language (DDL))

In [15]:
schema_ddl = "firstname STRING, middlename STRING, lastname STRING, id STRING, gender STRING, salary INT "
df_with_ddl_schema = spark.createDataFrame(data=data2,schema=schema_ddl)
df.printSchema()
df.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|Jack     |          |Eldridge|36636|M     |90000 |
|Matthew  |J         |Munro   |28832|M     |45400 |
|Sheila   |Oway      |Roberts |12114|F     |64000 |
|Anne     |          |Dushane |32192|F     |141000|
|Jane     |Rebecca   |Jones   |99482|F     |56000 |
+---------+----------+--------+-----+------+------+